body {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

/* Common */

.section {
  max-width: 411px;
  margin: 0 auto;
  padding: 0;
}

.container {
  width: 100%;
}

/* Header */

.header {
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
}

.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.logo-span {
}

.header-navigation-list,
.header-subscribe-button-in,
.header-subscribe-button-up {
  display: none;
}

.header-navigation-list-item {
}
.header-subscribe-button-in {
}
.header-subscribe-button-up {
}
.header-burger-button {
  border: none;
  padding: 0;
  background-color: transparent;
}
.header-burger-button-icon {
  display: block;
  fill: #173a56;
}

/* Footer */

.social-list-item-icon {
}
